:root 
{
    --primary-color: #eaa53f;
    --secondery-color: #1e3e53;
    --black-color: #000000;
    --white-color: #ffffff;
    --body-bg: var(--white-color);
    --border-radius: 5px;
}
body {
  font-family: "Tajawal", sans-serif;
  font-weight: 400;
  font-size: 14px;
  box-sizing: border-box;
  background-color: var(--body-bg);
  color: var(--secondery-color);
  margin: 0;
  padding: 0;
  line-height: 1.6;
}
::-webkit-scrollbar 
{
    width: 8px;
    height: 0;
}
::-webkit-scrollbar-track {
    background: var(--secondery-color);
    border-radius: 0px;
}
::-webkit-scrollbar-track-piece{
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border: 2px solid transparent;
    background-clip: padding-box;
    border-radius: var(--border-radius);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:focus {
  outline: none !important;
}
a,
button,
img,
input {
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}
.fixbtn {
  background: transparent;
  border-radius: 0;
  border: none;
  padding: 0;
}
.fixh,
.fixp {
  margin: 0;
}
.fixanc {
  text-decoration: none;
}
.fixul {
  padding: 0;
  margin: 0;
}
a:hover {
  color: var(--primary-color);
}
.main-section
{
  position: relative;
  min-height: 100vh;
  padding: 20px;
  display: flex;
    align-items: center;
    justify-content: center;
}
.main-slider
{
    
 position: absolute;
 inset: 0;
 z-index: -1;
}
.main-slider .swiper
{
  height: 100%;
  max-height: 100%;
}
.main-slide {
  position: relative;
  height: 100%;
}
.main-slide::after {
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.2));
  position: absolute;
  inset: 0;
  z-index: 1;
}
.main-slide .slide-img {
  display: flex;
  width: 100%;
  aspect-ratio: 1440 / 722;
  height: 100%;
}
.main-slide .slide-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes zoom {
  from {
      transform: scale(1.1);
  }

  to {
      transform: scale(1);
  }
}
.swiper-slide-active .slide-img > img
{
  animation-name: zoom;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}
.side-section
{
  background-color: rgba(23, 23, 23, 0.5) ;
  width: 36%;
  min-width: 540px;
  padding: 20px 30px;
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
}
.header
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.language-cont
{
    margin: 0 16px;
    margin-top: 15px;
}
.language-cont .lang-anc 
{
    display: inline-block;
    font-size: 18px;
    color: var(--white-color);
   
}
.language-cont .lang-anc > i
{
    margin-inline-start: 5px;
}
.language-cont .lang-anc:hover
{
    color: var(--primary-color);
}
.content
{
  margin-top: 20px;
}
.items-list .item:not(:last-of-type)
{
  margin-bottom: 15px;
}
.items-list .item  .item-anc
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(234, 165, 63, 0.8);
  color: var(--white-color);
  padding: 10px 20px;
  border-radius:var(--border-radius);
}
.items-list .item .icon
{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white-color);
  color: var(--secondery-color);
}
.items-list .item .name
{
  text-transform: capitalize;
  font-size: 18px;
}
.items-list .item .dots
{
  font-size: 16px;
}
.logo
{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid var(--primary-color);
  z-index: 1;
  overflow: hidden;
}
.logo::before
{
  content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(61, 61, 61, 0.3);
    backdrop-filter: blur(8px);
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: 50%;
}






@media (max-width:767px)
{
  .side-section
  {
    width: 100%;
    min-width: unset;
    padding: 25px 15px;
  }
  .side-section .item .item-anc
  {
    padding: 10px 20px;
  }
  .side-section .item .name
  {
    font-size: 14px;
  }
  .main-slide .slide-img img {
    object-fit: fill;
  }
}